<header class="py-6 lg:py-12 px-4 lg:px-16 flex flex-col gap-4 w-full">
  <h1 class="text-[40px]">Welcome to Gumroad DEMO.</h1>
</header>
<div class="py-6 lg:py-12 px-4 lg:px-16 border-t border-black">
  <p>Go to Products to try out Coffee, Commissions and Calls.</p>
  <p>Browse the pre-created products, or create a new one.</p>
</div>
