<header class="py-12 px-16 flex flex-col gap-4 w-full">
  <h1 class="text-[40px]">Welcome to Gumroad DEMO.</h1>
</header>
<div class="py-12 px-16 border-t border-black">
  <p>(The content of the dashboard page: promos, getting started, bestselling products and activity.)</p>
  <p>Go to Products to try out Coffee, Commissions and Calls.</p>
</div>
