<% content_for :page_specific_scripts do %>
  <%= vite_javascript_tag 'ViewProductContent.tsx' %>
<% end %>

<div class="py-4 lg:py-8 flex flex-col lg:flex-row gap-16">
  <div class="flex flex-col gap-4 order-2 lg:order-none">
    <div class="p-4 flex flex-col gap-4 border border-black rounded-md">
      <label>Liked it? Give it a rating:</label>
      <textarea
        placeholder="Want to leave a written review?"
      ></textarea>
      <button class="py-4 px-4 bg-black text-white rounded-md">Post review</button>
    </div>
  </div>
  
  <div id="view-product-content-data" data-product="<%= json_escape(@product.to_json) %>" class="order-1 lg:order-none"></div>
  <div
    id="view-product-content-react"
    class="w-full"
  >
  </div>
</div>