<% content_for :page_specific_scripts do %>
  <%= vite_javascript_tag 'CheckoutPage.tsx' %>
<% end %>

<div id="checkout-page-data" data-checkout="<%= json_escape(@cart.as_json(include: { cart_items: { include: { product: { include: :variants } } } }).to_json) %>"></div>
<div id="checkout-page-react"></div>