<% content_for :page_specific_scripts do %>
  <%= vite_javascript_tag 'NewProductForm.tsx' %>
<% end %>

<header class="py-12 px-16 flex flex-col gap-4 w-full">
  <div class="flex justify-between w-full">
    <h1 class="text-[40px]">What are you creating?</h1>
    <div class="flex gap-4">
      <a
        class="px-4 flex flex-col items-center justify-center h-12 border border-black rounded-md"
        href="/products"
      >Cancel</a>
      <button
        class="px-4 flex flex-col items-center justify-center h-12 border border-black rounded-md bg-[#FF90E8]"
        type="submit"
        form="new-product-form"
      >Next: Customise</button>
    </div>
  </div>
</header>
<div class="py-12 px-16 flex gap-12 border-t border-black">
  <div class="flex flex-col gap-6 max-w-72">
    <p>Make some selections, fill in some boxes, and go live in minutes.</p>
    <p>Our Help Center has everything you need to know.</p>
  </div>

  <div id="new-product-form-react"></div>
</div>
