<nav class="hidden lg:flex py-6 flex-col min-w-[205px] bg-black text-white">
  <header class="p-6 flex flex-col items-center">
    <a class="w-full" href="/">
      <span
        class="logo-full"
      ></span>
    </a>
    <p class="-mt-3 font-bold">DEMO</p>
  </header>
  <section class="py-6 flex flex-col">
    <a class="px-6 py-4 flex items-center border-t" href="/dashboard" title="Home">
      <span
        class="mr-2 inline-block h-6 w-6 icon-shop-window-fill"
      ></span>
      Home
    </a>
    <a class="px-6 py-4 flex items-center border-t border-b border-slate-100" href="/products" title="Products">
      <span class="icon icon-archive-fill"></span>
      Products
    </a>
  </section>
</nav>
<div
  id="nav-mobile-react"
></div>
